<div class="custom-recharge-widget-wrapper">
  <input type="hidden" data-plan-discount="">
  {% assign discount_percent = product.selling_plan_groups[0].selling_plans[0].price_adjustments[0].value | plus: 0 %}
  <div class="recharge-container d-flex" data-recharge-container>
    <div class="recharge-block" data-type="onetime" data-recharge-block>
      <input type="radio" id="recharge-label_onetile" name="purchase_option" data-rc-type> 
      <label for="recharge-label_onetile" class="recharge-label">
        <span data-price-onetime>{{ current_variant.price | money }}</span>
        One-time purchase
      </label>
    </div>
    <div class="recharge-block is-active" data-type="subscription" data-recharge-block>
      {% for group in product.selling_plan_groups %}
        <div class="subscription-group" data-id="{{ group.id }}">
          <input type="radio" id="recharge-label_subscription" name="purchase_option" data-rc-type checked>
          <label for="recharge-label_subscription" class="recharge-label">
            {% assign _percent = 100 | minus: discount_percent %}
            <span data-price-subsave>{{ current_variant.price | times: _percent | divided_by: 100.0 | round | money }}</span>
            <span data-recharge-discount-percent>Refill & Save {{ discount_percent }}%</span>
            <div class="recharge-selling-plan" data--hidden>
              <label>Deliver Every:</label>
              <div class="recharge-selling-plan-wrapper d-flex">
                {% for plan in product.selling_plan_groups[0].selling_plans %}
                  <div class="recharge-plan-item">
                    <input type="radio" id="plan-{{ plan.id }}" name="properties[selling_plan]" data-id="{{ plan.id }}" value="{{ plan.id }}" {% if forloop.first %}checked{% endif %} data-selling-plan>
                    <label for="plan-{{ plan.id }}">{{ plan.options[0]['value'] }}</label>
                  </div>
                {% endfor %}
              </div>
            </div>
          </label>
        </div>
      {% endfor %}
    </div>
  </div>
</div>